{% extends 'hello/base.html' %} {% block content %}

<style>
  .col1 {
    width: 60%;
    background-color: #ECECEC;
  }

  .card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px 20px 20px 20px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .content {
    min-height: 76%;
  }
  h2 a {
    color: blue;
    text-decoration: underline;
  }
  input {
    width: 100%;
    margin-bottom: 15px;
  }
</style>

{% for post in posts reversed %}

<div class="post card">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
  <p>{{post.content| safe}}</p>
  <p>{{post.summary| safe}}</p>
  <div class="date">
    <p>Postado por {{post.author}} em {{ post.published_date }}</p>
    <p />
  </div>
</div>

{% endfor %} {% endblock %}
